.activityButton
  border: black 1px solid
  height: 50px
  width: 50px
  opacity: 0.5
  float: left

.activityButton:hover
  background-color: #3b68da
  cursor: pointer

border-radius()
  -webkit-border-radius: argument
  -moz-border-radius: argument
  border-radius: arguments

radial()
  /* fallback */
  background-color: #2f2727
  background-image: url(images/radial_fancy.png)
  background-position: 80% 20%
  background-repeat: no-repeat

  background: -webkit-radial-gradient(arguments)
  background: -moz-radial-gradient(arguments)
  background: -ms-radial-gradient(arguments)

.photoSource
  font: black

.createActivity
  radial 50% 50%, closest-corner, #1a82f7, #3d41a8
  width: 320px
  height: 500px
  padding: 0px
  margin-top: 20px

.pictureSaved img
  width: 250px
  height: 250px

#eventDate
  position: absolute
  top: 78px
  left: -32px
  opacity: 0
  width: 70px
  border: 1px solid black

.calendarIcon
  pointer-events: none
  position: relative
  left: -71px

.icon, .icon:visited
  display: inline
  color: black
  text-decoration: none

.icon-film
  position: relative
  top: -47px
  left: 110px

.icon-camera-retro
  position: relative
  top: -47px
  left: 14px

.photo
  float: right

.createEvent
  position: absolute
  left: 200px
  bottom: 59px

.icon-calendar-empty
  position:absolute
  top: 70px
  left: 10px
  text-rendering: auto

.icon-map-marker
  position:absolute
  top: 25px
  left: 15px

#eventDesc
  width:90%
  display: block
  margin: 5px auto

#eventName
  width:90%
  display: block
  margin: 0 auto
