blue = #accecd
.activityButton
  border-top: #3750B3 1px solid
  border-left: #3750B3 1px solid
  height: 40px
  width: 60px
  opacity: .5
  float: left
  color: white
  text-align: center

.activityButton:hover
  background-color: #3b68da
  cursor: pointer

border-radius()
  -webkit-border-radius: argument
  -moz-border-radius: argument
  border-radius: arguments


.photoSource
  font: black

#logo
  float: left
  font-size: 20px
  padding: 0px 0px
  margin: 10px 10px 0px 10px
  text-align: center


.createActivity
  width: 100%
  height: 100%
  padding: 0px
  margin-top: 20px

.pictureSaved img
  width: 100%
  height: 100%

.photo
  position: relative
  width: 100%
  height: 100%

#eventDate
  position: absolute
  z-index: 1
  opacity: 0
  width: 140px
  height: 37px

.calendarIcon
  pointer-events: none
  position: relative
  left: -71px

.icon, .icon:visited
  display: inline
  color: white
  text-decoration: none

.icon-film
  position: absolute
  bottom: 0
  right: 10px
  color: white
  z-index: 2

.icon-camera-retro
  position: absolute
  bottom: 0
  left: 10px
  color: white
  z-index: 2

.photo, .photo div
  width 300px
  height: 400px
  margin: auto
  overflow:hidden
  z-index: 0

.createEvent
  margin-bottom: 30px
  left: 50%
  margin-left: -45px
  height: 100%
  line-height: 2rem
  border-radius: 5px
  width: 120px !important
  height: 40px !important
  text-align: center

.icon-calendar-empty
  position:absolute
  float: right


.icon-map-marker
  position:absolute
  // bottom: 25px
  left: 15px


#eventDesc
  width: 80%
  display: block
  margin-top:5px 
  background-color: transparent
  border: none

::-webkit-input-placeholder
  color: grey

#eventName
  width: 80%
  margin-top:5px
  display: block
  position: relative
  top: 5px
  
  background-color: transparent
  border: none

.submitNav
  display: block
  bottom: 30px
  margin-top: 10px
  width: 100%
  height: 40px

.dateSet
  display: block
  position: absolute
  left: 46px
  font-size: 13px
  pointer-events: none
  width: 113px

.calendarDateSetter
  position: absolute

.block
  display:block

.activities 
  background rgb(135, 199, 135)
  width 200px
  height 50px

.topcoat-text-input,
.topcoat-text-input--large 
  line-height: 3rem
  font-size: 16px
  letter-spacing: 1px
  padding: 0 
  border: 1px solid #303233
  border-radius: 6px
  background-color: #404141
  box-shadow: inset 0 1px rgba(0,0,0,0.18)
  color: #c6c8c8
  vertical-align: top
  margin-right: auto
  margin-left: auto


.topcoat-text-input:focus,
.topcoat-text-input--large:focus 
  background-color: #646666
  color: #fff
  border: 1px solid #0940fd
  box-shadow: 0 0 0 2px #6fb5f1


.topcoat-text-input:disabled::-webkit-input-placeholder 
  color: #fff


.topcoat-text-input:disabled::-moz-placeholder 
  color: #fff


.topcoat-text-input:disabled:-ms-input-placeholder 
  color: #fff


.topcoat-text-input:invalid 
  border: 1px solid #d83b75

#transparent
  position: absolute
  top: 350px
  color: #333
  opacity: 0.5
  z-index: 1
  height: 100%

#footer
  position: fixed
  bottom: 0
  width: 100%
  height: 40px
  background: #191919
  border-bottom-width: 1px
  border-bottom-style: solid
  border-top-color: #404040
