blue = #accecd
pink = #bc6367
off-white = #fafffc

body
  height: 100%
  width: 100%

.hero-unit
  height: 100%
  margin: 0px
  float: left
  width: 90%

.map-page
  padding: 0px
  margin: 0px

.map
  width: 90%
  height: 80%

h1
  margin: 0px

#carrier-date-battery
  width: 100%
  height: 20px

#centerMarker
  position: absolute
  top:190px
  left:160px
  z-index: 1


#mapCanvas
  width: 100%
  height: 100%
  min-width: 300px
  min-height: 300px
  z-index: 0

#daySlider
  bottom: 0
  height: 20px

#hourSlider, #daySlider
  background: pink
  overflow: hidden

#hourSlider p
  position: relative
  padding: 200, 0
  vertical-allign: middle
  color: off-white

.focus
  color: off-white

.blur 
   color: transparent
   text-shadow: 0 0 5px rgba(0,0,0,0.5)

.slider
  overflow: auto
  -webkit-overflow-scrolling:touch
  position: absolute
  

