<div class="hero-unit createActivity">
  <h1>Create activity page</h1>
  <p>Activity options stuff here</p>

<!--   <a href={{server+'/api/createEvent'}}>
    <button class='topcoat-button'>Save Activity</button>
  </a> -->

  <!-- <button ng-click="saveDate()" class="topcoat-icon-button"> -->
    <input id='eventDate' type='datetime-local' ng-click="saveDate()">Date</input>
  <!-- </button> -->
  <!-- <a ng-click="rotate('-45')">Rotate Left</a> -->
  <!-- <a ng-click="rotate('45')">Rotate Right</a> -->
  <br>

  <div picture-thumb></div>
  <div class="photos">
    <a class="topcoat-icon-button"  ng-click="takePic()">Take Pic</a>
    <a class="topcoat-icon-button"  ng-click="openPhotoLib()">From Lib</a>
  </div>

  <activity-button ng-repeat="activity in activities"></activity-button>
</div>
