<div class="hero-unit createActivity">
  <div class="photo">
    <div picture-thumb></div>
    <a class="icon" ng-click="takePic()"><i class="icon-camera-retro icon-2x"></i></a>
    <a class="icon" ng-click="openPhotoLib()"><i class="icon-film icon-2x"></i></a>
  </div>

  <a href="#/map" class="icon"><i class="icon-map-marker icon-2x"></i></a>
  <!-- <p>Activity options stuff here</p> -->
  {{googleMapData}}

  <input id='eventDate' type='datetime-local' ng-click="saveDate()">
  <a class="icon"><i class="icon-calendar-empty calendarIcon icon-2x"></i></a>

  <br>
  <input type="text" placeholder="Name" ng-model="eventName" id="eventName" ng-blur="saveName()">
  <input type="text" placeholder="Description" ng-model="description" id="eventDesc" ng-blur="saveDesc()">

  <activity-button ng-repeat="activity in activities"></activity-button>
  <button class="createEvent" ng-click="saveToServer()" disable="{{isDisabled}}">Create Event</button>
</div>

