<div class="hero-unit createActivity">
  <h2>activ</h2>
  <button ng-click="saveToServer()" disable="{{isDisabled}}">Create Event</button>
  <a href="#/map"><button>Choose location</button></a>
  <p>Activity options stuff here</p>
  {{googleMapData}}
  <input id='eventDate' type='datetime-local' ng-click="saveDate()">Date</input>
  <br>
  <input type="text" placeholder="Name" ng-model="eventName">
  <input type="text" placeholder="Description" ng-model="description">
  <div picture-thumb></div>
  <div class="photos">
    <a class="topcoat-icon-button" ng-click="takePic()">Take Pic</a>
    <a class="topcoat-icon-button" ng-click="openPhotoLib()">From Lib</a>
  </div>

  <activity-button ng-repeat="activity in activities"></activity-button>
</div>

