
<div class="gridContainer clearfix" >
  
  <div id="LayoutDiv1" class="mapPage">
    <!-- {{user}} -->
    <!-- <p>Welcome {{user.name}}</p> -->
    <!-- <a href='#/main'>Main (testing link)</a> -->
    <div id="mapHeader">
	    <h2 id='headerLeft'>RADAR</h2>
	    <p id='headerRight'>San Francisco</p>
    </div>
    <div id='mapHeaderBottom'></div>
    <div id="hourSlider" class="slider" hammer-drag="changeTime($event)" hammer-release="releaseTime($event)">
      <div id="hourSliderText">{{hourpm}}:{{minute}}{{ampm}}</div>
    </div>
    <div id='mapAndDay'>
      <div id="mapCanvas" ></div>
      <div id='daySlider'>
        <div id="daySliderText">Tuesday October 14, 2013<div>
      </div>
    </div>

    <!-- <div id="hourSlider" class="slider"> -->
    <!-- </div> -->
    <!-- <div id="daySlider" class="slider"> -->
    <!-- </div> -->
  </div>
</div>
