
<div class="gridContainer clearfix" >
  
  <div id="LayoutDiv1" class="mapPage">
    <!-- {{user}} -->
    <!-- <p>Welcome {{user.name}}</p> -->
    <!-- <a href='#/main'>Main (testing link)</a> -->
    <div id="mapHeader">
	    <h1 id='headerLeft'>RADAR</h1>
	    <p id='headerRight'>San Francisco</p>
    </div>
    <div id='mapHeaderBottom'></div>
    <div id="mapCanvas" ></div>
    <div id="hourSlider" class="slider">
        <div id="hourSliderText">{{hour}}:{{minute}}</div>
    </div>
    <div id="daySlider" class="slider">
    	<div id="daySliderText">Tuesday October 14, 2013<div>
    </div>
  </div>
</div>
