<div class="hero-unit">
  <h1 id="radar-title">Radar</h1>
  <!-- <img src='img/meamteam.JPG'/> -->
  <!-- <a href='#/walkthrough'>Quick Guide</a> -->
  <form action="#/walkthrough">
    <!-- <input type="submit" value="Go to Google"> -->
    <button class='facebook topcoat-button' id="quick-guide" type="submit">Quick Guide</button>
  </form>

  <button class='facebook topcoat-button' ng-click='login()'>Log in with Facebook</button>
<!--    <div id="links">
        <div class="topcoat-button-bar">
            <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button full" ng-click='$navigate.go("/map", "slide")'>Map</button>
          </div>
          <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button full" ng-click='$navigate.go("/createActivity", "slide")'>Create</button>
          </div>
          <div class="topcoat-button-bar__item">
          <button class="topcoat-button-bar__button full" ng-click='$navigate.go("/chat", "slide")'>Chat</button>
          </div>
        </div>
    </div> -->
</div>
